---
import Layout from '../layouts/Layout.astro';
import { Navbar } from '../components/Navbar';
import { Hero } from '../components/Hero';
import { TrustStrip } from '../components/TrustStrip';
import { Services } from '../components/Services';
import { Process } from '../components/Process';
import { WhyUs } from '../components/WhyUs';

import { Testimonials } from '../components/Testimonials';
import { CTA } from '../components/CTA';
import { Footer } from '../components/Footer';
import CaseStudyShowcase from '../components/CaseStudyShowcase.astro';
---

<Layout>
  <div class="min-h-screen bg-black text-white selection:bg-primary-500/30 selection:text-primary-200 overflow-x-hidden">
    <Navbar client:load />
    <main>
      <Hero client:load />
      <TrustStrip client:visible />
      <Services client:visible />
      <Process client:visible />
      <WhyUs client:visible />
      <Testimonials client:visible />
      <CaseStudyShowcase />
      <CTA client:visible />
    </main>
    <Footer client:visible />
  </div>
</Layout>
