---
import Layout from '../layouts/Layout.astro';
import { Navbar } from '../components/Navbar';
import { Services as ServicesComponent } from '../components/Services';
import { Footer } from '../components/Footer';
import { CTA } from '../components/CTA';
---

<Layout>
  <div class="min-h-screen bg-black text-white selection:bg-primary-500/30 selection:text-primary-200 overflow-x-hidden">
    <Navbar client:load />
    <main class="pt-20">
      <ServicesComponent client:visible />
      <CTA client:visible />
    </main>
    <Footer client:visible />
  </div>
</Layout>
